html{
  padding-left: 2em;
  font-family: lato;
  max-width: 910px;
  border-left:8px solid rgba(100,100,100,.3);
}

article h3{
  font-size: 36px;
  padding-bottom: 0em;
  color: rgba(150,150,150,.6);
  clear: both;
  font-weight: 50;
}
h4 a{
  color: orange;
  float: right;
}
body p{
  color: rgba(40,40,40,.8);
  border-bottom: 1px solid rgba(100,100,100,.2);
  padding-bottom: 40px;
  margin-bottom: 40px;
}
h2 a{
  font-size: 36px;
  color: black;
  font-weight: 50;
}
header nav a{
  font-size: 20px;
  color: rgba(100,100,100,.5);
  text-decoration: underline;
  margin-right: 1em;
}
header h2{
  font-size: 26px;
  font-weight: 50;
  padding-top: 0em;
}
nav a{
  color: orange;
  opacity: .3;
}
h1 a{
  color: orange;
  opacity: .6;
  font-size: 60px;
  font-weight: 50;
}
a {
  text-decoration: none;
}
article p:first-letter{
  color: rgba(100,100,100,.3);
  font-size: 80px;
  float: left;
  padding-right: .1em;
}
